{% extends "snippets/base1.html" %}
{% load static %}
{% block content %}
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <style>

        .prettyprint ol.linenums > li { list-style-type: decimal; }
        pre.prettyprint {
    padding-left: 38px;
    border: 1px solid #888;
    color: black;
    }

    </style> 
    <div class="container">

	<article class="row entry format-standard">

            <div class="entry__media col-full">
                <div class="entry__post-thumb">
                    
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{code_object.title}}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{code_object.pub_date}}</li>
                    <li class="byline">
                        By
                        <a href="/snippets/profile/{{code_object.author}}">{{code_object.author}}</a>
                    </li>
                    <li class="date">Article code is {{code_object.id}}</li>
                </ul>
            </div>

            <div class="col-full entry__main">
            	<pre class="prettyprint linenums">
{{code_object.code_snippet}}
            	</pre>
            	
            </div>

            <hr>
            

                <p>
                  <!-- <a href="#" title="Love it" class="btn btn-counter" data-count="0"><span>&#x2764;</span></a> -->
                  
                  {% if like_bool == 0 %}
                      <a href="#" title="Love it" class="btn btn-counter" data-count="{{code_object.likes}}"><span>&#x2764;</span> Love it</a>
                    </p>
                 {% else %}
                      <a href="#" title="Love it" class="btn btn-counter active" data-count="{{code_object.likes}}"><span>&#x2764;</span> Love it</a>
                {% endif %}

                <script type="text/javascript">

                console.log("hey");
                {% if user.is_authenticated %}
                $('.btn-counter').on('click', function(event, count) {


                  event.preventDefault();
                  console.log("sdfv");
                  
                  var $this = $(this),
                      count = $this.attr('data-count'),
                      active = $this.hasClass('active'),
                      multiple = $this.hasClass('multiple-count');

                 $.post("/snippets/likePost",
                  {
                    'codeid': "{{code_object.id}}",
                    'username': "{{user.get_username}}",
                    'csrfmiddlewaretoken':"{{ csrf_token }}"
                  },
                  function(data, status){
                    //
                  });
                  
                  // First method, allows to add custom function
                  // Use when you want to do an ajax request
                  //  if (multiple) {
                  // $this.attr('data-count', ++count);
                  // // Your code here
                  // } else {
                  // $this.attr('data-count', active ? --count : ++count).toggleClass('active');
                  // // Your code here
                  // } 
                  
                  // Second method, use when ... I dunno when but it looks cool and that's why it is here
                  $.fn.noop = $.noop;
                  $this.attr('data-count', ! active || multiple ? ++count : --count  )[multiple ? 'noop' : 'toggleClass']('active');
                  
                });
                {% endif %}
                
            </script>

            

	</article>
</div>





{% endblock %}



{% block likecss %}

{% if user.is_authenticated %}
    .btn {
      box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
      border-radius: 3px;
      border: 1px solid;
      display: inline-block;
      height: 18px;
      line-height: 18px;
      padding: 0 8px;
      position: relative;

      font-size: 12px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
    /*
     * Counter button style
     */
    .btn-counter { margin-right: 39px; }
    .btn-counter:after,
    .btn-counter:hover:after { text-shadow: none; }
    .btn-counter:after {
      border-radius: 3px;
      border: 1px solid #d3d3d3;
      background-color: #eee;
      padding: 0 8px;
      color: #777;
      content: attr(data-count);
      left: 100%;
      margin-left: 8px;
      margin-right: -13px;
      position: absolute;
      top: -1px;
    }
    .btn-counter:before {
      transform: rotate(45deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

      background-color: #eee;
      border: 1px solid #d3d3d3;
      border-right: 0;
      border-top: 0;
      content: '';
      position: absolute;
      right: -13px;
      top: 5px;
      height: 6px;
      width: 6px;
      z-index: 1;
      zoom: 1;
    }
    /*
     * Custom styles
     */
    .btn {
      background-color: #dbdbdb;
      border-color: #bbb;
      color: #666;
    }
    .btn:hover,
    .btn.active {
      text-shadow: 0 1px 0 #b12f27;
      background-color: #f64136;
      border-color: #b12f27;
    }
    .btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
    .btn span { color: #f64136; }
    .btn:hover, .btn:hover span,
    .btn.active, .btn.active span { color: #eeeeee; }
    .btn:active span {
      color: #b12f27;
      text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    }
{% else %}
.btn {
      box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
      border-radius: 3px;
      border: 1px solid;
      display: inline-block;
      height: 18px;
      line-height: 18px;
      padding: 0 8px;
      position: relative;

      font-size: 12px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
    /*
     * Counter button style
     */
    .btn-counter { margin-right: 39px; }
    .btn-counter:after,
    
    .btn-counter:after {
      border-radius: 3px;
      border: 1px solid #d3d3d3;
      background-color: #eee;
      padding: 0 8px;
      color: #777;
      content: attr(data-count);
      left: 100%;
      margin-left: 8px;
      margin-right: -13px;
      position: absolute;
      top: -1px;
    }
    .btn-counter:before {
      transform: rotate(45deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

      background-color: #eee;
      border: 1px solid #d3d3d3;
      border-right: 0;
      border-top: 0;
      content: '';
      position: absolute;
      right: -13px;
      top: 5px;
      height: 6px;
      width: 6px;
      z-index: 1;
      zoom: 1;
    }
    /*
     * Custom styles
     */
    .btn {
      background-color: #dbdbdb;
      border-color: #bbb;
      color: #666;
    }
    
    .btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
    .btn span { color: #f64136; }
    .btn:hover, .btn:hover span,
    .btn.active, .btn.active span { color: #eeeeee; }
    .btn:active span {
      color: #b12f27;
      text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    }
{% endif %}


{% endblock %}