{% extends "snippets/base1.html" %}


{% block preloader %}
	
{% endblock %}



{% block content %}

{{username}}
	{% for x in codes_list %}
	<script >
		window.articleid = 0;
		window.hash = {};
	</script>

			<article class="col-block">
				
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="single-standard.html" class="item-entry__thumb-link">
                                
                            </a>
                        </div>
        
                        <div class="item-entry__text">    
                            <div class="item-entry__cat">
                                <a href="/snippets/profile/{{x.author}}">{{x.author}}</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="/snippets/{{x.id}}">{{x.title}}</a></h1>
                            <script>
                            	window.articleid = '{{x.id}}';
                            	window.hash[`{{x.id}}`] = 1;

                             </script>
                            <div class="item-entry__date">
                                <a >{{x.pub_date}}</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article>
			
	{% endfor %}
	
{% endblock %}