{% extends "snippets/base1.html" %}

{% block content %}
	{% if no_of_articles > 0 %}
		<h3>{{username}} has contributed the following articles.</h3><br><br>
		{% for x in articles %}

			<article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <!-- <div class="item-entry__thumb">
                            <a href="single-standard.html" class="item-entry__thumb-link">
                                
                            </a>
                        </div> -->
        
                        <div class="item-entry__text">    
                            <div class="item-entry__cat">
                                <a href="/snippets/profile/{{x.author}}">{{x.author}}</a> 
                            </div>
    
                            <h1 class="item-entry__title"><a href="/snippets/{{x.id}}">{{x.title}}</a></h1>
                                
                            <div class="item-entry__date">
                                <a>{{x.pub_date}}</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

            </article>




			<!-- <li>
			 	<a href="/snippets/{{x.id}}">{{x.title}}</a> by  <a href="/snippets/profile/{{x.author}}" style="color: red">{{x.author}}</a>			
			</li> -->
		{% endfor %}

	{% else %}
		<h3> {{username}} hasn't contributed anything yet</h3>
	{% endif %}
{% endblock %}